---
layout: default
title: "SOHATSKY TSEH"
type: article
description: "швейное производство, швейный цех, производство Москва, швейный цех в Москве, пошив одежды, пошив партий одежды, пошив образца, пошив образцов, пошив массовка, массовый пошив, пошив одежды на заказ, пошив одежды под заказ, вышивка на одежде, вышивка на худи, вышивка на кофта, печать на одежде, печать шелкография, шелкуха,  печать вытравка, печать dtf, печать пластезоль, печать на одежде в Москве, разработка лекал, конструктор одежды, создание лекал, градация лекал, лекала на заказ, лекала под заказ"
---

{% include hero_area.html %} {% include about.html extra_class="section-ptb" %}
{% include howWork.html extra_class="bg-semi-white border-bottom-white"%}
