<p itemprop="telephone"><i class="lni lni-phone"></i> +7 903 275 70 69</p>
<p itemprop="email"><i class="lni lni-envelope"></i> schumidriver@yandex.ru</p>
<p itemprop="address" itemscope itemtype="{{site.url}}{{page.url}}">
  <i class="lni lni-map-marker"></i>
  <span itemprop="addressLocality">Москва</span>,
  <span itemprop="streetAddress"
    >6-й Монетчиковский переулок, дом 8, строение 1</span
  >
  <br />
  ст. м. Павелецкая
</p>
<p>
  <i class="lni lni-timer"></i> ПН-ПТ
  <span itemprop="availabilityStarts">с 10:00</span
  ><span itemprop="availabilityEnds"> до 20:00</span>,<br />
  СБ по предварительной записи ВС выходной
</p>
<a
  href="https://wa.me/79032757069"
  target="_blank"
  rel="noopener noreferrer"
  title="Whatsapp"
  style="
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: xx-large;
  "
>
  <i class="lni lni-whatsapp"></i>
</a>
<a
  href="https://t.me/sohatskytseh"
  target="_blank"
  rel="noopener noreferrer"
  title="Telegram"
  style="
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    font-size: xx-large;
  "
>
  <i class="lni lni-telegram-original"></i>
</a>
