<footer class="spotlight-footer bg-semi-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <a
          class="logo-link"
          itemprop="url"
          href="{{site.url}}{{site.baseurl}}/"
        >
          <h1>SOHATSKY TSEH</h1>
        </a>
        <p>Информация на сайте не является публичной офертой.</p>
        <button
          style="background-color: inherit"
          class="px-3 py-2 border-0 up-button"
        >
          Наверх
        </button>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>
